body {
  background-color: #f8f9fa;
  padding: 0px;
}
.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px;
}
.card-title {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-text {
  font-size: 2rem;
  font-weight: bold;
}
.bg-primary {
  background-color: #007bff !important;
}
.bg-success {
  background-color: #28a745 !important;
}
.bg-warning {
  background-color: #ffc107 !important;
}
